In [1]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt

In [2]:
interim_dir = "../data/interim"
processed_dir = "../data/processed"

data_model_file = os.path.join(processed_dir, "data_model_output.csv")

In [3]:
data_model_df = pd.read_csv(data_model_file)
data_model_df.head()
data_model_df = data_model_df[(data_model_df['is_completed'] == 1) & (data_model_df['record_type_synthetic'] == 0) & (data_model_df['submit']==True)]

C:\Users\USVV724227\AppData\Local\Temp\ipykernel_19484\2793295500.py:1: DtypeWarning: Columns (1,12,13,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,46,47,53,54,58,64,69,73,76,77,79,81,82,85,92,94,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,131,141,148,149,150,153,154,155,165,167,175,177,192,193,194,197,206,207,212,219,235,237,238,239,240,241,242,244,246,247,271,279,280,281,284,287,291,292,293,295,296,331,333,334,336,398,407,410,432) have mixed types. Specify dtype option on import or set low_memory=False.
  data_model_df = pd.read_csv(data_model_file)

In [4]:
working_df = data_model_df[['marketsegment_label', 'passenger_segment_label', 'flight_purpose_label', 'is_sdia_home_airport','reimbursement_label']]

In [5]:
working_df.head()

,marketsegment_label,passenger_segment_label,flight_purpose_label,is_sdia_home_airport,reimbursement_label
0,EMPLOYEE,NaN,NaN,NaN,NOT_REIMBURSED
1,EMPLOYEE,NaN,NaN,NaN,NOT_REIMBURSED
2,EMPLOYEE,NaN,NaN,NaN,NOT_REIMBURSED
3,EMPLOYEE,NaN,NaN,NaN,NOT_REIMBURSED
4,EMPLOYEE,NaN,NaN,NaN,REIMBURSED_EMPLOYER_CLIENT

In [6]:
# Define the classification logic using np.where
working_df['passenger_flight_purpose_segment'] = np.where(
    working_df['is_sdia_home_airport'] & working_df['flight_purpose_label'].isin(['BUSINESS_WORK', 'COMBINATION_BUSINESS_LEISURE']),
    'RESIDENT_BUSINESS',
    np.where(
        working_df['is_sdia_home_airport'], 'RESIDENT_NON_BUSINESS',
        np.where(
            working_df['flight_purpose_label'].isin(['BUSINESS_WORK', 'COMBINATION_BUSINESS_LEISURE']),
            'VISITOR_BUSINESS',
            'VISITOR_NON_BUSINESS'
        )
    )
)

C:\Users\USVV724227\AppData\Local\Temp\ipykernel_19484\207928654.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  working_df['passenger_flight_purpose_segment'] = np.where(

In [7]:
passengers_df = working_df[working_df['marketsegment_label']=='PASSENGER']

In [8]:
passengers_df.head()

,marketsegment_label,passenger_segment_label,flight_purpose_label,is_sdia_home_airport,reimbursement_label,passenger_flight_purpose_segment
807,PASSENGER,RESIDENT_ARRIVING,BUSINESS_WORK,True,NaN,RESIDENT_BUSINESS
808,PASSENGER,RESIDENT_ARRIVING,LEISURE_FAMILY,True,NaN,RESIDENT_NON_BUSINESS
809,PASSENGER,RESIDENT_ARRIVING,BUSINESS_WORK,True,NaN,RESIDENT_BUSINESS
810,PASSENGER,RESIDENT_ARRIVING,LEISURE_FAMILY,True,NaN,RESIDENT_NON_BUSINESS
811,PASSENGER,RESIDENT_ARRIVING,LEISURE_FAMILY,True,NaN,RESIDENT_NON_BUSINESS

In [9]:
passengers_df['passenger_flight_purpose_segment'].value_counts()

passenger_flight_purpose_segment
VISITOR_NON_BUSINESS     1700
RESIDENT_NON_BUSINESS    1337
VISITOR_BUSINESS          872
RESIDENT_BUSINESS         462
Name: count, dtype: int64

In [10]:
passengers_df['reimbursement_label'].value_counts()

reimbursement_label
NOT_REIMBURSED                  3275
REIMBURSED_EMPLOYER_CLIENT       793
DONT_KNOW                         60
REIMBURSED_OTHER_THIRD_PARTY      54
Name: count, dtype: int64

In [11]:
passengers_df['flight_purpose_label'].value_counts()

flight_purpose_label
LEISURE_FAMILY                  2318
BUSINESS_WORK                   1188
PERSONAL                         629
COMBINATION_BUSINESS_LEISURE     146
SCHOOL                            44
OTHER_SPECIFY                     32
COMMUTE                           14
Name: count, dtype: int64

In [12]:
passengers_df[passengers_df['flight_purpose_label']=='COMMUTE']

,marketsegment_label,passenger_segment_label,flight_purpose_label,is_sdia_home_airport,reimbursement_label,passenger_flight_purpose_segment
1022,PASSENGER,VISITOR_ARRIVING,COMMUTE,False,NaN,VISITOR_NON_BUSINESS
1973,PASSENGER,RESIDENT_DEPARTING,COMMUTE,True,NOT_REIMBURSED,RESIDENT_NON_BUSINESS
2662,PASSENGER,RESIDENT_DEPARTING,COMMUTE,True,NOT_REIMBURSED,RESIDENT_NON_BUSINESS
2700,PASSENGER,RESIDENT_DEPARTING,COMMUTE,True,NOT_REIMBURSED,RESIDENT_NON_BUSINESS
2708,PASSENGER,RESIDENT_DEPARTING,COMMUTE,True,REIMBURSED_EMPLOYER_CLIENT,RESIDENT_NON_BUSINESS
2777,PASSENGER,RESIDENT_DEPARTING,COMMUTE,True,NOT_REIMBURSED,RESIDENT_NON_BUSINESS
2795,PASSENGER,RESIDENT_DEPARTING,COMMUTE,True,REIMBURSED_EMPLOYER_CLIENT,RESIDENT_NON_BUSINESS
2852,PASSENGER,RESIDENT_DEPARTING,COMMUTE,True,NOT_REIMBURSED,RESIDENT_NON_BUSINESS
2899,PASSENGER,VISITOR_DEPARTING,COMMUTE,False,NOT_REIMBURSED,VISITOR_NON_BUSINESS
3493,PASSENGER,VISITOR_DEPARTING,COMMUTE,False,NOT_REIMBURSED,VISITOR_NON_BUSINESS
5398,PASSENGER,VISITOR_DEPARTING,COMMUTE,False,REIMBURSED_EMPLOYER_CLIENT,VISITOR_NON_BUSINESS
5402,PASSENGER,VISITOR_DEPARTING,COMMUTE,False,REIMBURSED_EMPLOYER_CLIENT,VISITOR_NON_BUSINESS
5419,PASSENGER,VISITOR_DEPARTING,COMMUTE,False,NOT_REIMBURSED,VISITOR_NON_BUSINESS
5439,PASSENGER,VISITOR_DEPARTING,COMMUTE,False,REIMBURSED_EMPLOYER_CLIENT,VISITOR_NON_BUSINESS

In [13]:
passengers_df[['passenger_flight_purpose_segment', 'reimbursement_label']].groupby(['passenger_flight_purpose_segment', 'reimbursement_label']).size()

passenger_flight_purpose_segment  reimbursement_label
RESIDENT_BUSINESS                 DONT_KNOW                          7
                                  NOT_REIMBURSED                   215
                                  REIMBURSED_EMPLOYER_CLIENT       219
                                  REIMBURSED_OTHER_THIRD_PARTY       4
RESIDENT_NON_BUSINESS             DONT_KNOW                         20
                                  NOT_REIMBURSED                  1229
                                  REIMBURSED_EMPLOYER_CLIENT        24
                                  REIMBURSED_OTHER_THIRD_PARTY      13
VISITOR_BUSINESS                  DONT_KNOW                          9
                                  NOT_REIMBURSED                   292
                                  REIMBURSED_EMPLOYER_CLIENT       514
                                  REIMBURSED_OTHER_THIRD_PARTY      17
VISITOR_NON_BUSINESS              DONT_KNOW                         24
                                  NOT_REIMBURSED                  1539
                                  REIMBURSED_EMPLOYER_CLIENT        36
                                  REIMBURSED_OTHER_THIRD_PARTY      20
dtype: int64

In [14]:
crosstab_df = pd.crosstab(passengers_df['reimbursement_label'], passengers_df['passenger_flight_purpose_segment'], margins=True, margins_name='Total')
crosstab_percentage = crosstab_df.div(crosstab_df.loc['Total'], axis=1) * 100  # Column-wise percentage

# Concatenate count and percentage crosstab
crosstab_combined = crosstab_df.astype(str) + ' (' + crosstab_percentage.round(2).astype(str) + '%)'

# Display the final combined crosstab
crosstab_combined

passenger_flight_purpose_segment,RESIDENT_BUSINESS,RESIDENT_NON_BUSINESS,VISITOR_BUSINESS,VISITOR_NON_BUSINESS,Total
reimbursement_label,,,,,
DONT_KNOW,7 (1.57%),20 (1.56%),9 (1.08%),24 (1.48%),60 (1.43%)
NOT_REIMBURSED,215 (48.31%),1229 (95.57%),292 (35.1%),1539 (95.06%),3275 (78.31%)
REIMBURSED_EMPLOYER_CLIENT,219 (49.21%),24 (1.87%),514 (61.78%),36 (2.22%),793 (18.96%)
REIMBURSED_OTHER_THIRD_PARTY,4 (0.9%),13 (1.01%),17 (2.04%),20 (1.24%),54 (1.29%)
Total,445 (100.0%),1286 (100.0%),832 (100.0%),1619 (100.0%),4182 (100.0%)

In [15]:
crosstab_df = pd.crosstab(passengers_df['reimbursement_label'], passengers_df['flight_purpose_label'], margins=True, margins_name='Total')
crosstab_percentage = crosstab_df.div(crosstab_df.loc['Total'], axis=1) * 100  # Column-wise percentage

# Concatenate count and percentage crosstab
crosstab_combined = crosstab_df.astype(str) + ' (' + crosstab_percentage.round(2).astype(str) + '%)'

# Display the final combined crosstab
crosstab_combined

flight_purpose_label,BUSINESS_WORK,COMBINATION_BUSINESS_LEISURE,COMMUTE,LEISURE_FAMILY,OTHER_SPECIFY,PERSONAL,SCHOOL,Total
reimbursement_label,,,,,,,,
DONT_KNOW,13 (1.14%),3 (2.21%),0 (0.0%),22 (1.0%),3 (9.38%),18 (2.95%),1 (2.44%),60 (1.43%)
NOT_REIMBURSED,403 (35.32%),104 (76.47%),8 (61.54%),2128 (96.38%),27 (84.38%),573 (93.78%),32 (78.05%),3275 (78.31%)
REIMBURSED_EMPLOYER_CLIENT,707 (61.96%),26 (19.12%),5 (38.46%),42 (1.9%),1 (3.12%),8 (1.31%),4 (9.76%),793 (18.96%)
REIMBURSED_OTHER_THIRD_PARTY,18 (1.58%),3 (2.21%),0 (0.0%),16 (0.72%),1 (3.12%),12 (1.96%),4 (9.76%),54 (1.29%)
Total,1141 (100.0%),136 (100.0%),13 (100.0%),2208 (100.0%),32 (100.0%),611 (100.0%),41 (100.0%),4182 (100.0%)